<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <title>ASL App</title>

  <h1>{{msg}}</h1>
  <h2>ASL App</h2>

  <div id="topSearches">
    <div id="top1">Top search 1</div>
    <div id="top2">Top search 2</div>
    <div id="top3">Top search 3</div>
  </div>

</head>

<body>
  <div id= "main header" class="w3-container w3-white">
  <strong><h1>ASL App</h1></strong>
</div>
  {{{body}}}

</body>
<footer id="footer" class="w3-container w3-white">
  <p id="footerwords">Copyright © 2018 Team TANG</p>
</footer>
</html>

