<div id="community">

    <div id="main header" class="w3-container w3-white">

        <strong>
            <h1>American Sign Language App</h1>
        </strong>
        <div class="w3-container">

            <a href="/logout"><button id="communitybutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Logout</button></a>
            
            <a href="/members"><button id="homebutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Home</button></a>

        </div>

    </div>
    <br>
<marquee behavior="scroll" direction="left"> French Sign Language and American Sign Language are the most alike. ⬤ The deaf don’t clap after a performance or a show; instead they wiggle their hands in the air. ⬤ Deafness is not seen as a handicap, but rather as an asset that brings its members together, forming a whole community and a culture all to itself (some deaf people actually refuse implants or hearing aids for this reason). ⬤ Sign language was formally developed in the 17th century in Europe. ⬤ ASL was developed in Hartford, CT in 1814. ⬤ Heather Whitestone was the First and Only Deaf Person to Win the Miss America Pageant in 1995.</marquee>

        <div id="communitylinks" class="w3-panel w3-card-4 w3-white" style="width: 700px; margin-left: 30px;" >
         <h1>Resources</h1>
            <p>Here are some popular and useful websites to seek out other ASL speakers in your community.</p>
             <li><a href="https://www.nad.org/events/">Events for National Association of the Deaf </a></li>
             <li><a href="https://aslta.org/">American Sign Language Teachers Association</a></li>
             <li><a href="https://www.rid.org/">Registry for Interpreters of the Deaf</a></li>
             <li><a href="https://www.meetup.com/">Meetup</a></li>
             <li><a href="https://www.yelp.com/">Yelp</a></li>
             <li><a href="https://www.facebook.com/">Facebook</a></li>
             <br>
        </div>
        
        <div id="savedsearchcard" class="w3-panel w3-card-4 w3-white" style="width: 700px; margin-right: 30px;">
         <h1>Saved Searches</h1>
            <div class="w3-container">
                <ul class="w3-ul " id="saved-container">
                    <li class="w3-display-container">Rating<span class="savedLabel">Phrase</span></li>
                    
                </ul>
                            
            </div>
            
             <br>
        </div>

           <div class="inputform">
        <input id="inputformbox" type="text" name="fontTxtField" id="fontTxtField" placeholder="Enter a word to translate." />
    </div>
    <br>
        <button id="translatebutton" class="w3-btn w3-black" onclick="myTranslate()">Translate to ASL</button>
        <button id="regularfont" class="w3-btn w3-black" onclick="myEnglish()">English</button>
    <br>
    <br>
    <br>
</div>
    <br>
<!-- Modal -->
<div id="myModal" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">        
        <span onclick="document.getElementById('myModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <div class="videodiv">
            <iframe id="modalVideo" type="text/html" width="640" height="360" src="https://www.youtube.com/embed?listType=search&list=" frameborder="0"></iframe> 
        </div>   
    </div> 
  </div>
</div>
    

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
 <script src="/js/members.js"></script>
 <script>
    var inputBoxForm = document.getElementById("inputformbox"),
    translateButton = document.getElementById('translatebutton'); 
    regularFont= document.getElementById('regularfont');
    
function myTranslate() {
   var button1 = this;
  inputBoxForm.style = "font-family: asl";
}

function myEnglish() {
  console.log("god save the queen")
  var button2 = this;
  inputBoxForm.style = "font-family: Arial";
  
}

console.log("halp")
</script>
   

  