<div id="community">

    <div id="main header" class="w3-container w3-white">

        <strong>
            <h1>ASL App</h1>
        </strong>
        <div class="w3-container">

            <a href="/logout"><button id="communitybutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Logout</button></a>
            
            <a href="/members"><button id="homebutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Home</button></a>

        </div>

    </div>


        <div id="communitylinks" class="w3-panel w3-card-4 w3-white" style="width: 700px;">
         <h1>Resources</h1>
            <p>Here are some popular and useful websites to seek out other ASL speakers in your community.</p>
             <li><a href="https://www.nad.org/events/">Events for National Association of the Deaf </a></li>
             <li><a href="https://aslta.org/">American Sign Language Teachers Association</a></li>
             <li><a href="https://www.rid.org/">Registry for Interpreters of the Deaf</a></li>
             <li><a href="https://www.meetup.com/">Meetup</a></li>
             <li><a href="https://www.yelp.com/">Yelp</a></li>
             <li><a href="https://www.facebook.com/">Facebook</a></li>
             <br>
        </div>
        
        <div id="savedsearchcard" class="w3-panel w3-card-4 w3-white" style="width: 700px;">
         <h1>Saved Searches</h1>
              <table class="table table-sm table-hover" id='savedsearchtable'>
                            <thead>
                                <tr>
                                  <th>Rating</th>
                                  <th>Phrase</th>  
                                </tr>
                                {{#each saved}}
			  	                    {{#if this.user_id}}
                                    <tr>
                                        <td>{{this.rating}}</td>
                                        <td>{{this.search}}</td>
                                    </tr>
                                    {{/if}}
			                    {{/each}}
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
            
             <br>
        </div>

</div>
    
   

  