<div id="community">

    <div id="main header" class="w3-container w3-white">

        <strong>
            <h1>ASL App</h1>
        </strong>
        <div class="w3-container">

            <button id="homebutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Home</button>

        </div>

    </div>

    <div id="communitybody">
        <h1>Links</h1>
        <p>Here are some popular and useful websites to seek out other ASL speakers in your community.</p>
        <li>Meetup</li>
        <li>Yelp</li>
        <li>Facebook</li>

    </div>

</div>
    
   

  