<div id="home">

  <div class="top3container">

    <div id= "main header" class="w3-container w3-white">
  <strong><h1>American Sign Language App</h1></strong>
  <div class="w3-container">

  <button id="mainloginbutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Login/Signup</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

      </div>

      <form  id="modalbox" class="w3-container" >
        <div class="w3-section">
          <label><b>Username</b></label>
          <input id= "username" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="username" required>
          <label><b>Password</b></label>
          <input id ="password" class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
          <button id="login" class="w3-button w3-block w3-black w3-section w3-padding" >Login</button>
          <button id="signup" class="w3-button w3-block w3-black w3-section w3-padding" >Signup</button>
          {{!-- <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me --}}
          {{!-- <a href="/auth/google">Sign In with Google</a> --}}
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
      </div>

    </div>
  </div>
</div>
     
   </div> 

    <div class="w3-panel w3-card-4 w3-white"><p>American Sign Language (ASL) is a visual language. ASL is used mainly in the United States and in many parts of Canada. With signing, the brain processes linguistic information through the eyes. The shape, placement, movement of the hands,as well as facial expressions and body movements, all play important parts in conveying information.

Sign language is not a universal language — each country has its own sign language, and regions have dialects, much like the many languages spoken all over the world. Like any spoken language, ASL is a language with its own unique rules of grammar and syntax, and continues to grow and change over time. We hope you'll enjoy using this app to assist you in communicating with other ASL speakers and participate in ASL community events near you.</p></div>   


    {{!-- <div class="ftembed">
  </div> --}}

    {{!-- top searches, would like video boxes to show up here --}}
    <div id="topSearches"> 
      <button id="top1" src="#">Top search 1</button>
      <button id="top2" src="#">Top search 2</button>
      <button id="top3" src="#">Top search 3</button>
      
    </div>

    <div class="videodiv">
        <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed?listType=search&list=" frameborder="0"></iframe>    
    </div> 

      {{!-- <div id="rateYo"></div> --}}
      <div id="rateYo"></div>


  <div class="searchdiv">
    <label id="phrasesearchlabel" class="w3-text-black"><b>Phrase Search</b></label>
    <input id ="textInput"class="w3-input w3-border w3-light-grey" type="text" placeholder="Enter a phrase to search for here!">
    <button id ="search" class="w3-btn w3-black">Search</button>
  </div>
    
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/index.js"></script>
<script src="js/login.js"></script>
<script src="js/signup.js"></script>

{{!-- javascript and style for RATEYO --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


{{!-- javascript for rateyo --}}
{{!-- <script>
    $(function () {
 
  $("#rateYo").rateYo({
 
    rating    : 1.6,
    spacing   : "5px",
    multiColor: {
 
      "startColor": "#FF0000", //RED
      "endColor"  : "#00FF00"  //GREEN
    }
  });
 
});

// Getter
var ratedFill = $("#rateYo").rateYo("option", "multiColor"); //returns `Object`
 
// Setter
$("#rateYo").rateYo("option", "multiColor", false); // disables multi color rating and returns a jQuery Element


</script> --}}
