<div id="members">

  <div class="top3container">

     <div id= "main header" class="w3-container w3-white">
  <strong><h1>American Sign Language App</h1></strong>
  <div class="w3-container">

  <a href="/logout"><button id="communitybutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Logout</button></a>
  
  <a href="/community"><button id="communitybutton" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black w3-large">Community</button></a>
  

</div>
            
</div> 

 <marquee behavior="scroll" direction="left"> There are more than 200 different sign languages used around the world.
 ⬤ If an individual uses incorrect grammar while signing, they can be considered to have a 'foreign' accent. ⬤ Babies that are born deaf learn to use sign language to communicate in the same way babies born with hearing begin to use words to communicate. ⬤ Most of the courses taught at Gallaudet University in Washington, D.C., are taught in ASL.</marquee>


<div class="w3-container">

<button onclick="myFunction('Demo3')" class="w3-btn w3-block w3-black">
Click Here To Learn More About ASL</button>

<div id="Demo3" class="w3-hide w3-container w3-center w3-white">
  <p>American Sign Language (ASL) is a visual language. ASL is used mainly in the United States and in many parts of Canada. The shape, placement, movement of the hands,as well as facial expressions and body movements, all play important parts in conveying information.

Sign language is not a universal language — each country has its own sign language, much like spoken languages. ASL is a language with its own unique rules of grammar and syntax, and continues to grow and change over time. We hope you'll enjoy using this app to assist you in communicating with other ASL speakers and participate in ASL community events near you.</p>
</div>

</div>    



  <div id="topSearches">
    {{#if top}}
      {{#each top}} 
        <button class="topSearch" id={{this.search}} >{{this.search}}</button>
      {{/each}}
    {{/if}}
  </div>  

  <div class="videodiv">
     <iframe id="ytplayer" type="text/html" width="640" height="360" src="https://www.youtube.com/embed?listType=search&list=" frameborder="0"></iframe>
  </div> 
      

  <div class="searchdiv">
    <label id="phrasesearchlabel" class="w3-text-black"><b>Phrase Search</b></label>
    <input id ="textInput" class="w3-input w3-border w3-light-grey" type="text" placeholder="Enter a phrase to search for here!">
    <br>
    <button id ="search" class="w3-btn w3-black">Search</button>
    <br>
    <br>
    {{!-- <label id="namesearchlabel" class="w3-text-black"><b>Name Search</b></label>
    <input class="w3-input w3-border w3-light-grey" type="text" placeholder="See how to sign your name in ASL here"> --}}
    <button id="save" class="w3-btn w3-black">Save Search</button>
    <br>
    <br>
    <div id="rateYo"></div>
    

 
    
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/members.js"></script>
{{!-- javascript and style for RATEYO --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


{{!-- javascript for rateyo --}}
<script>
    $(function () {
 
  $("#rateYo").rateYo({
 
    rating    : 3.6,
    spacing   : "5px",
    multiColor: {
 
      "startColor": "#FF0000", //RED
      "endColor"  : "#00FF00"  //GREEN
    }
  });
 
});

// Getter
var ratedFill = $("#rateYo").rateYo("option", "multiColor"); //returns `Object`
 
// Setter
$("#rateYo").rateYo("option", "multiColor", false); // disables multi color rating and returns a jQuery Element

//JavaScript for "About ASL"
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
