.list-group-item {
  line-height: 2.5;
}

body {
  background-color: rgb(151, 218, 214);
}

footer {
  position: fixed;
  left: 0 ; right: 0; bottom: 0; 
}

#footerwords {
  text-align: center;
}

#communitybutton, #homebutton, #mainloginbutton {
   float: right;
   margin-top: -40px;
   margin-bottom: 10px;
}

#top1 {
  padding: 15px;
  float: left;
}

#top2 {
  padding: 15px;
  float: left;
}

#top3 {
  padding: 15px;
}

.w3-input {
  width: 45%;
  /* text-align: center; */
  /* margin-left: 420px; */
}

/* .searchdiv {
  text-align: center;
} */
#top1,#top2,#top3{
  margin: 20px;
}

#topSearches{
  margin: auto;
}

.searchdiv{
  margin: 20px;
}

#savedsearchcard{
  float: right;
  margin-top: -313px;
}