.list-group-item {

    line-height: 2.5;
  }
  
  body {
    background-image:url("/img/sign-language-1.png");
  }
  
  footer {
    position: fixed;
    left: 0 ; right: 0; bottom: 0; 
  }
  
  #footerwords {
    text-align: center;
  }
  
  #communitybutton, #homebutton, #mainloginbutton {
     float: right;
     margin-top: -40px;
     margin-bottom: 10px;
  }
  

  .topSearch {
    padding: 15px;
     margin: 20px;
  }
  
  .w3-input {
    width: 45%;
    /* text-align: center; */
    /* margin-left: 420px; */
  }
  
  /* .searchdiv {
    text-align: center;
  } */
 
  
  #topSearches{
    margin-left: 38%;
    /* margin: auto; */
    width: 35%;
  }
  
  .searchdiv{
    margin: 20px;
  }
  
  #savedsearchcard{
    float: right;
    margin-top: -313px;
  }

  
@font-face{
    font-family: "asl";
    src: url("../img/GALLAUDET.ttf")
    format("truetype"); 
  }
  
  
  #inputformbox {
    font-family: Arial;
    padding: 0;
    font-size: 100px;
    border: 0;
    width: 75%;
    margin-left: 200px;
  }

#translatebutton{
  margin-left: 650px;
}


#ytplayer{
  margin-left: 425px;
}
#search{
  margin-left: 700px;
}

#phrasesearchlabel{
  margin-left: 675px;
}

#textInput{
  margin-left: 400px;
}
#modalVideo {
  margin: 50px;
  
}

.savedLabel {
  margin-left: 130px;
}
.savedList {
  margin-left: 150px;
} 

#rateYo {
  margin: auto;
  background-color: black;
}

#save {
  margin-left: 675px;
}

